* text eol=lf
*.bat text eol=crlf
*.sh text eol=lf

*.patch text eol=lf
*.java text eol=lf
*.scala text eol=lf
*.groovy text eol=lf

*.gradle text eol=crlf
gradle.properties text eol=crlf
/gradle/wrapper/gradle-wrapper.properties text eol=crlf
*.cfg text eol=lf

*.png binary
*.jar binary
*.war binary
*.lzma binary
*.zip binary
*.gzip binary
*.dll binary
*.so binary
*.exe binary

*.gitattributes text eol=crlf
*.gitignore text eol=crlf
